<!DOCTYPE html>

<html>
    <head>
        <title>{{title}}</title>
        <link rel = "stylesheet" href= "/css/style.css">
        <link rel="icon" href= '/img/weather.png'>
    </head>
        
        
    <body>
        <div class="main-content">
            {{>header}}
            <p>{{information}}</p>
            <img class ="portrait" src = "/img/me.jpg">
        </div>
       
        {{>footer}}
    </body>
</html>